/Programarea3D/P6 - Lumini - Texturi - Final/Debug
/PrelucrareaSemnalelorDigitale/PrelucrareaSemnalelorDigitale/bin
/PrelucrareaSemnalelorDigitale/PrelucrareaSemnalelorDigitale/obj
/Masterat Automatizarea PSI 2015-2016_Studenti
/Masterat Automatizarea PSI 2015-2016_Studenti.zip
/PrelucrareaSemnalelorDigitale/PrelucrareaSemnalelorDigitale.suo
